<!DOCTYPE html>
{% autoescape true %}

<html>
  <body>

  {% if not assignments %}
	<form action="/admin/assignment/view" method="post" enctype="multipart/form-data">
	  <div>
		<select name="year">
		  <option value="2012">2012</option>
		  <option value="2013">2013</option>
		  <option value="2014" selected>2014</option>
		  <option value="2015">2015</option>
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		</select>
	  </div>
	  <div>
		<select name="quarter">
		  <option value="1">Fall</option>
		  <option value="2">Winter</option>
		  <option value="3">Spring</option>
		  <option value="4">Summer</option>
		</select>
	  </div>
	  <div><input type="submit" value="view"<div>
	</form> 
  {% else %}
	<h3>View assignments for {{ quarter }} {{ year }}</h3>
	<table>
	  <tr>
		<th>Number</th>
		<th>Fade In Date/Time</th>
		<th>Due Date/Time</th>
		<th>Close Date/Time</th>
		<th>Eval Open Date/Time</th>
		<th>Eval Close Date/Time</th>
		<th>Fade Out Date/Time</th>
		<th>Current?</th>
	  </tr>
	{% for assignment in assignments %}
		<tr>
		  <td>{{ assignment.number }}</td>
		  <td>{{ assignment.fade_in_date }}</td>
		  <td>{{ assignment.due_date }}</td>
		  <td>{{ assignment.close_date }}</td>
		  <td>{{ assignment.eval_open_date }}</td>
		  <td>{{ assignment.eval_date }}</td>
		  <td>{{ assignment.fade_out_date }}</td>
		  <td>{{ assignment.current }}</td>
		  <td><a href="/admin/assignment/edit?number={{ assignment.number
			}}&quarter={{ assignment.quarter }}&year={{ assignment.year }}">edit</a></td>
		</tr>
  	{% endfor %}
	</table>
  {% endif %}
  <br>
  <a href="/admin">Back</a>
  </body>
</html>

{% endautoescape %}

