{% extends 'templates/common.html' %}
{% block content %}

<br>

<div class="row">
	<div class="small-12 columns panel">
		<form action="/partner/edit/profile" method="POST">

			<div class="row">
			</div>

			<div class="row">
				<div class="small-6 columns">
					<label class="label">Preferred Name</label>
					<input type="text" name="preferred_name" value="{{ student.preferred_name }}" />
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					<label class="label">Tell us a little about yourself...</label>
					<textarea name="bio">{{ student.bio }}</textarea>
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					<label class="label">How's your programming ability?</label>
					<select name="programming_ability">
						{% for ability in programming_ability %}
							{% if student.programming_ability and student.programming_ability == ability %}
								<option value="{{ ability }}" selected="selected">
							{% else %}
								<option value="{{ ability }}">
							{% endif %}
								{{ ability }}
							</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="row">
				<div class="small-6 column small-centered">
					<input type="submit" value="Submit" class="button expand" />
				</div>
			<div>

		<form>
	</div>
</div>

{% endblock %}
