{% extends 'templates/common.html' %}
{% block content %}
  <br>
  <div class="row">
	<div class="small-12 column panel text-center">
	  <h4>Usage Instructions</h4>
	  <br>
	  <div class="row">
	    <div class="small-10 column small-offset-1 text-justify">
		  <p>
			The partner app main page is divided into two panels: 
			<br>
			<br>
			<h4>1) The information panel</h4>
			<br>
			The top half of the information panel contains: the current
			assignment number, the date by which a partner must be chosen,
			the date that partner evaluations open, and the date by which a
			partner evaluation must be submitted.
			<br>
			<br>
			The top half of information panel also displays a number of 
			different notifications:
			<br>
			<br>
			<h5>a) Current Partner Notifications:</h5>
			<br>
			This info box will either tell you that you don't have a partner,
			the name of your current partner (if you have one), or that you
			were given permission to work alone for the current assignment.
			<br>
			<br>
			<h5>b) Invitation Notification:</h5>
			<br>
			This info box will inform you if you've received new partner
			invitations for the current assignment.
			<br>
			<br>
			<h5>c) Dropped Partner Notification:</h5>
			<br>
			This info box will inform you if your partner for the current
			assignment accepted an invitation from another student
			and dissovled your partnership. If you see this notification, it is 
			your responsibility to find a new partner, reinstate your dissolved
			partnership, or contact your TA to determine an appropriate course of action 
			for the current assignment.
			<br>
			<br>
			The bottom half of the information panel contains a history of your 
			confirmed partnerships. If the history is empty, you haven't been
			involved in any confirmed partnerships.
			<br>
			<br>
			<h4>2) The action panel</h4>
			<br>
			The action panel contains three buttons:
			<br>
			<br>
			<h5>a) Send Invitations</h5>
			<br>
			This button brings up a window that allows you to send parntership
			invitations to students in your lab sections. By default, the app
			does not allow you to send invitations to students with whom you're
			currently partnered, or with whom you've had a partnership. 
			<strong>If you think you need to work alone or repeat a partnership,
			please contact your TA. Only TAs can confirm NO PARTNER partnerships
			or repeated partnerships.</strong>
			<br>
			<br>
			<h5>b) Received Invitations</h5>
			<br>
			This button allows you to confirm invitations that you've received
			from other students. <strong>Only after an invitation is confirmed will a
			partnership be considered active.</strong>  Once an invitation is
			confirmed, all other invitations involving you (all invitations you've
			sent and received) and the student who sent the invitation will be deactivated.
			<br>
			<br>
			<h5>c) Partner Evaluation</h5>
			<br>
			This button allows you to fill out an evaluation for your partner
			for the current assignment.  The evaluation form will only be
			available after the partner selection period closes.  If you worked
			alone--with or without the permission of a TA--you will not be able to submit an
			evaluation.
			<br>
			<br>
			The bottom half of the action panel displays that invitations that
			you've sent that are currently active.
		  </p>
	    </div>
	  </div>
	</div>
  </div>
{% endblock %}
