{% extends '/templates/admin_common.html' %}
{% block content %}

<div class="row">

	<br>

	<div class="small-12 columns">
		<h3 class="text-center">Viewing Your Courses</h3>
		<br>
	</div>

	{% if message %}
		<div class="small-12 column">
			<div class="row text-center">
				<div class="small-12 column">
					<h3>{{ message }}</h3>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="small-12 columns panel">

		<table>
		  <tr>
                    <th class="text-center">Abbreviated Name</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Quarter</th>
                    <th class="text-center">Year</th>
                    <th class="text-center">Active</th>
		  </tr>
		{% for course in edit_courses %}
		    <tr>
			<td class="text-center">{{ course.abbr_name }}</td>
			<td class="text-center">{{ course.name }}</td>
                        {% if course.quarter in quarters %}
                            <td class="text-center num-cell">{{ quarters[course.quarter] }}</td>
                        {% else %}
                            <td class="text-center"></td>
                        {% endif %}
			<td class="text-center num-cell">{{ course.year }}</td>
                        <td class="text-center num-cell">
                            {% if course.active %}
                                <span class="label alert">
                                    <a href="/admin/courses/deactivate?key={{ course.key.urlsafe() }}" class="white-link">Deactivate</a>
                                </span>
                            {% else %}
                                <span class="label success">
                                    <a href="/admin/courses/activate?key={{ course.key.urlsafe() }}" class="white-link">Activate</a>
                                </span>
                            {% endif %}
                        </td>
		    </tr>
		{% endfor %}
		</table>

	</div>
</div>

{% endblock %}
