{% extends '/templates/admin_common.html' %}
{% block content %}

<div class="row fullwidth">

	<br>

	{% if message %}
		<div class="small-12 columns">
		  	<h3 class="text-center">{{ message }}</h3>
		</div>
	{% endif %}

	<div class="small-12 columns">
		<h3 class="text-center">Viewing Student: {{ student.ucinetid }} - {{ student.last_name }}, {{ student.first_name }}</h3>
		<br>
	</div>
</div>

<div class="row fullwidth">
	<span class="label">Abbreviated Partner History</span>
	<div class="small-12 columns">
		<div class="row panel">
			<div class="small-12 columns">
				<table>
					<tr>
						{% for i in assign_range %}
							<th class="text-center">{{ i }}</th>
						{% endfor %}
					</tr>
					<tr>
						{% for p in partners %}
							<td class="text-center">{{ p }}</td>
						{% endfor %}
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row fullwidth">
	<span class="label">Complete Partner History</span>
	<div class="small-12 columns">
		<div class="row panel">
			<div class="small-12 columns">
				<table>
					<tr>
						<th class="text-center num-cell">Num</th>
						<th class="text-center">Other Members</th>
						<th class="text-center">Authorized Solo</th>
						<th class="text-center">Active</th>
					</tr>
					{% for p in all_partners %}
						<tr>
							<td class="text-center">{{ p.assignment_number }}</td>
                                                        {% if p.members|length == 1 %}
							    <td class="text-center">None</td>
							    <td class="text-center"><span class="label warning">True</span></td>
                                                        {% else %}
                                                            <td class="text-center">
                                                                {% for member in p.members %}
                                                                    {% if member != student.key %}
                                                                        {{ member.get().ucinetid }} - {{ member.get().last_name }},
                                                                        {{ member.get().first_name }}
                                                                        <br>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                            <td class="text-center"><span class="label success">False</span></td>
                                                        {% endif %}

							{% if p.active %}
								<td class="text-center"><span class="label success">True</span></td>
							{% else %}
								<td class="text-center"><span class="label alert">False</span></td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row fullwidth">
	<span class="label">Evals Student Has Submitted</span>
	<div class="small-12 columns">
		<div class="row panel">
			<div class="small-12 columns">
				<table>
					<tr>
						<th class="text-center num-cell">Num</th>
						<th class="text-center">Being Evaluated</th>
						{% if evals|length > 0 %}
							{% for r in evals[0].responses %}
								<th class="text-center">{{ loop.index }}</th>
							{% endfor %}
						{% endif %}
						<th class="text-center">Active?</th>
					</tr>
					{% for e in evals %}
						<tr>
							<td class="text-center num-cell">{{ e.assignment_number }}</td>
							{% set et = e.evaluatee.get() %}
							<td class="text-center">{{ et.ucinetid }} - {{ et.last_name }}, {{ et.first_name }}</td>
							{% for r in e.responses %}
								{% if r[1] == ' ' %}
									<td class="text-center num-cell">{{ r[:1] }}</td>
								{% elif r[2] == ' ' %}
									<td class="text-center num-cell">{{ r[:2] }}</td>
								{% else %}
									<td class="text-center">{{ r }}</td>
								{% endif %}
							{% endfor %}
							
							{% if e.active %}
								<td class="text-center"><span class="label success">True</span></td>
							{% else %}
								<td class="text-center"><span class="label alert">False</span></td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row fullwidth">
	<span class="label">Evals Submitted About Student</span>
	<div class="small-12 columns">
		<div class="row panel">
			<div class="small-12 columns">
				<table>
					<tr>
						<th class="text-center num-cell">Num</th>
						<th class="text-center">Evaluator</th>
						{% if evals_for|length > 0 %}
							{% for r in evals_for[0].responses %}
								<th class="text-center">{{ loop.index }}</th>
							{% endfor %}
						{% endif %}
						<th class="text-center">Active?</th>
					</tr>
					{% for e in evals_for %}
						<tr>
							<td class="text-center num-cell">{{ e.assignment_number }}</td>
							{% set et = e.evaluator.get() %}
							<td class="text-center">{{ et.ucinetid }} - {{ et.last_name }}, {{ et.first_name }}</td>
							{% for r in e.responses %}
								{% if r[1] == ' ' %}
									<td class="text-center num-cell">{{ r[:1] }}</td>
								{% elif r[2] == ' ' %}
									<td class="text-center num-cell">{{ r[:2] }}</td>
								{% else %}
									<td class="text-center">{{ r }}</td>
								{% endif %}
							{% endfor %}
							
							{% if e.active %}
								<td class="text-center"><span class="label success">True</span></td>
							{% else %}
								<td class="text-center"><span class="label alert">False</span></td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row fullwidth">
	<span class="label">Evaluation Logs</span>
	<div class="small-12 columns">
		<div class="row panel">
			<div class="small-12 columns">
				<table>
					{% for log_entry in log %}
					<tr>
						<td class="text-center">{{ log_entry }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
