<!DOCTYPE html>
{% autoescape true %}

<html>
  <body>

	<h3>View assignments for {{ quarter }} {{ year }}</h3>
	<table>
	  <tr>
		<th>Number</th>
		<th>Fade In Date/Time</th>
		<th>Due Date/Time</th>
		<th>Close Date/Time</th>
		<th>Eval Open Date/Time</th>
		<th>Eval Close Date/Time</th>
		<th>Fade Out Date/Time</th>
		<th>Current?</th>
	  </tr>
	{% for assignment in assignments %}
		<tr>
		  <td>{{ assignment.number }}</td>
		  <td>{{ assignment.fade_in_date }}</td>
		  <td>{{ assignment.due_date }}</td>
		  <td>{{ assignment.close_date }}</td>
		  <td>{{ assignment.eval_open_date }}</td>
		  <td>{{ assignment.eval_date }}</td>
		  <td>{{ assignment.fade_out_date }}</td>
		  <td>{{ assignment.current }}</td>
		  <td><a href="/admin/assignment/edit?number={{ assignment.number
			}}&quarter={{ assignment.quarter }}&year={{ assignment.year }}">edit</a></td>
		</tr>
  	{% endfor %}
	</table>
  <br>
  <a href="/admin">Back</a>
  </body>
</html>

{% endautoescape %}

