{% extends '/templates/admin_common.html' %}
{% block content %}

<div class="row">

	<br>

	{% if message %}
		<div class="small-12 columns">
			<h3 class="text-center">{{ message }}</h3>
		</div>
	{% endif %}

	<div class="small-12 columns">
		<h3 class="text-center">Add Partnerships 
		{{ 'for Whole Class' if view == 'class' else 'for Lab ' + view }}</h3>
		<br>
		<div class="row small-centered">
			<ul class="pagination small-centered" style="display: table; margin: 0 auto">
				{% for i in range(num_labs) %}
					{% if (i + 1)|string == view %}
						<li class="current small-centered"><a href="/admin/partners/add?view={{ i + 1 }}">Lab {{ i + 1}}</a></li>
					{% else %}
						<li class="small-centered"><a href="/admin/partners/add?view={{ i + 1 }}">Lab {{ i + 1}}</a></li>
					{% endif %}
				{% endfor %}

				{% if view == 'class' %}
					<li class="current small-centered"><a href="/admin/partners/add?view=class">Class</a></li>
				{% else %}
					<li class="small-centered"><a href="/admin/partners/add?view=class">Class</a></li>
				{% endif %}
			</ul>
			<br>
		</div>
	</div>

	<div class="small-12 columns panel">

		<form action="/partner/confirm" method="post" enctype="multipart/form-data">
			
			<div class="row">
				<div class="small-12 columns"> 
					<span class="label">Assignment Number</span>
					<br>
					<input name="assign_num" value="{{ current_num }}" type="number">
					<span class="label">Partner 1</span>
					<br>
					<select name="admin_being_confirmed">
						{% for student in students %}
							<option value="{{ student.key.urlsafe() }}">
								{{ student.last_name }}, {{ student.first_name }} - {{ student.ucinetid }}
							</option>
						{% endfor %}
					</select>
					<span class="label">Partner 2</span>
					<br>
					<select name="admin_confirming">
						<option value="None">No Partner</option>
						{% for student in students %}
							<option value="{{ student.key.urlsafe() }}">
								{{ student.last_name }}, {{ student.first_name }} - {{ student.ucinetid }}
							</option>
						{% endfor %}
					</select>
					<input name="quarter" value="{{ quarter }}" style="display:none">
					<input name="year" value="{{ year }}" style="display:none">
					<br>
					<span class="label">Active?</span>
					<select name="active">
						<option value="True" selected>Yes</option>
						<option value="False">No</option>
					</select>
					<br>
				</div>
			</div>

			<div class="row">
				<div class="small-4 columns small-centered">
					<input class="button expand" name="form_2" type="submit" value="Submit">
				</div>
			</div>
		</form>

	</div>
</div>

{% endblock %}
