{% extends 'templates/admin_common.html' %}
{% block content %}

<div class="row">

	<br>

	{% if message %}
		<div class="small-12 columns">
			<h3 class="text-center">{{ message }}</h3>
		</div>
	{% endif %}

	<div class="small-12 columns">
		<h3 class="text-center">Add An Assignment...</h3>
		<br>
	</div>

	<div class="small-12 columns panel">
		<div class="row">
			
			<form action="/admin/assignment/add" method="post" enctype="multipart/form-data">
				<div class="small-6 columns">
					<div>
						<span class="label">Year</span><br>
						<input type="number" name="year" value="{{ year }}" />
					</div>
					<div>
						<span class="label">Quarter</span><br>
						<select name="quarter">
							{% for num,name in quarters %}
								{% if num == quarter %}
									<option value="{{ num }}" selected>{{ name }}</option>
								{% else %}
									<option value="{{ num }}">{{ name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
			  		<div>
						<span class="label">Assignment Number</span><br>
						<input name="assign_num" type="number" value="{{ last_num + 1 }}"/>
			  		</div>
					<br>
					<input class="button expand" type="submit" value="Save">
					<a class="button expand alert" href="/admin">Cancel</a>
				</div>

				<div class="small-6 columns">
					<div class="small-6 columns">
					<span class="label">Fade In Date</span><br>
						<input name="fade_in_date" type="date" value="{{ today }}">
					</div>
					<div class="small-6 columns">
						<span class="label">Fade In Time</span><br>
						<input name="fade_in_time" type="time" value="00:00">
					</div>

					<div class="small-6 columns">
						<span class="label">Due Date (should have partner by now)</span><br>
						<input name="due_date" type="date" value="{{ today }}">
					</div>
					<div class="small-6 columns">
						<span class="label">Due Time</span><br>
						<input name="due_time" type="time" value="00:00">
					</div>

					<div class="small-6 columns">
						<span class="label">Close Date (no more parter selection)</span><br>
						<input name="close_date" type="date" value="{{ today }}">
					</div>
					<div class="small-6 columns">
						<span class="label">Close Time</span><br>
						<input name="close_time" type="time" value="00:00">
					</div>

					<div class="small-6 columns">
						<span class="label">Eval Open Date</span><br>
						<input name="eval_open_date" type="date" value="{{ today }}">
					</div>
					<div class="small-6 columns">
						<span class="label">Eval Open Time</span><br>
						<input name="eval_open_time" type="time" value="00:00">
					</div>

					<div class="small-6 columns">
						<span class="label">Eval Close Date</span><br>
						<input name="eval_date" type="date" value="{{ today }}">
					</div>
					<div class="small-6 columns">
						<span class="label">Eval Close Time</span><br>
						<input name="eval_time" type="time" value="00:00">
					</div>
				
					<!-- Not currently used -->

					<div style="display: none">
						<span class="label">Fade Out Date/Time</span><br>
						<div><input name="fade_out_date" type="date" value="{{ year }}-01-01"></div>
						<div><input name="fade_out_time" type="time" value="00:00"></div>
					</div>

				</div>
			</form> 
			<br>
		</div>
	</div>
</div>

{% endblock %}
