<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
		<link type="text/css" rel="stylesheet" href="/foundation/css/foundation.css "/>
		<link type="text/css" rel="stylesheet" href="/foundation/css/app.css "/>
  </head>

  <body>

		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					{% if user %}
						<h1><a href="/admin">Partner App</a></h1>
					{% else %}
						<h1><a href="/">Partner App</a></h1>
					{% endif %}
				</li>
			</ul>

			<section class="top-bar-section">
				<ul class="left">
					<li class="has-dropdown">	
						<a href="#">Assignments</a>
						<ul class="dropdown">
							<li><a href="/admin/assignment/add">Add</a></li>
							<li><a href="/admin/assignment/view">View</a></li>
						</ul>
					</li>
					<li class="has-dropdown">	
						<a href="#">Students</a>
						<ul class="dropdown">
							<li><a href="/admin/student/add">Add</a></li>
							<li><a href="/admin/roster/view">View</a></li>
						</ul>
					</li>
					<li class="has-dropdown">	
						<a href="#">Partnerships</a>
						<ul class="dropdown">
							<li><a href="/admin/partners/add">Add</a></li>
							<li><a href="/admin/partners/view">View</a></li>
						</ul>
					</li>
					<li><a href="/admin/evaluations/view">Evaluations</a></li>
					<li class="has-dropdown">	
						<a href="#">Rosters</a>
						<ul class="dropdown">
							<li>
								{% if quarter and year %}
									<a href="/admin/roster/upload" data-reveal-id="uploadModal" data-reveal-ajax="true">Upload</a>
									<div class="reveal-modal small" id="uploadModal" data-reveal></div>
								{% else %}
									<a href="#">Upload</a>
								{% endif %}
							</li>
							<li><a href="/admin/roster/view">View</a></li>
						</ul>
					</li>
                                        <li class="has-dropdown">
                                            <a href="#">Courses</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/admin/courses/add">Add</a>
                                                </li>
                                                <li><a href="/admin/courses/view">View</a></li>
                                            </ul>
                                        </li>
					<li>
                                            <a href="/admin/settings/update">Config</a>
					</li>
				</ul>
			</section>

			<section class="top-bar-section">

				<form method="GET" action=".">
					<ul class="right">
                                            {% if courses %}
						<li class="has-dropdown">
						    <a href="#">Courses</a>
						    <ul class="dropdown">
                                                        {% for course in courses %}
                                                            <li><a href="admin?course={{ course.key.urlsafe() }}">{{ course.abbr_name }}</a></li>
                                                        {% endfor %}
						    </ul>
						</li>
                                            {% endif %}
					    <li><a href="/partner/instructions">Help</a></li>
					    {% if sign_out %}
						<li class="active">
						    <a href="{{ sign_out }}">Logout</a>
						</li>
					    {% elif sign_in %}
						<li class="active">
						    <a href="{{ sign_in }}">Login</a>
						</li>
					    {% endif %}
					</ul>
				</form>
			</section>
		</nav>

		{% block content %}
		{% endblock %}

		<script src="/foundation/js/vendor/jquery.js"></script>
		<script src="/foundation/js/vendor/fastclick.js"></script>
		<script src="/foundation/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>

  </body>
</html>
{% endautoescape %}
