{% extends 'templates/admin_common.html' %}
{% block content %}


<div class="row">
	{% if message %}
		<div class="small-12 columns">
			<h3 class="text-center">{{ message }}</h3>
		</div>
	{% endif %}
	<div class="small-12 columns">
		<h3 class="text-center">Viewing students for {{ quarter_name }} {{ year }}</h3>
		<table>
			<tr>
				<td class="text-center"><span class="label">{{ student_num }}</span> students</td>
				<td class="text-center"><span class="label success">{{ active_num  }}</span> active students</td>
				<td class="text-center"><span class="label warning">{{ inactive_num  }}</span> inactive students</td>
			</tr>
		</table>
	</div>
	<br>
	<div class="small-12 columns panel">
		<form action="/admin/students/deactivate?quarter={{ quarter }}&year={{ year }}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
			  		<th class="num-cell text-center">Select</th>
			  		<th class="text-center">StudentID</th>
			  		<th class="text-center">UCInetID</th>
			  		<th class="text-center">Last Name</th>
			  		<th class="text-center">First Name</th>
			  		<th class="text-center">Email</th>
			  		<th class="num-cell text-center">Lab</th>
			  		<th class="num-cell text-center">Active</th>
				</tr>
		  		{% for student in students %}
					<tr>
						<td class="num-cell text-center"><input type="checkbox" name="student" value="{{ student.studentid }}"></td>
						<td class="text-center">{{ student.studentid }}</td>
						<td class="text-center overflow">{{ student.ucinetid }}</td>
						<td class="text-center overflow">{{ student.last_name }}</td>
						<td class="text-center overflow">{{ student.first_name }}</td>
						<td class="text-center overflow">{{ student.email }}</td>
						<td class="num-cell text-center">{{ student.lab }}</td>
						<td class="num-cell text-center">{{ student.active }}</td>
						<td class="num-cell text-center"><a href="/admin/student/edit?studentid={{ student.studentid
						}}&quarter={{ student.quarter }}&year={{ student.year }}">edit</a></td>
					</tr>
		  		{% endfor %}
		  	</table>

			<div class="small-4 columns small-centered">
				<input class="button expand alert" type="submit" value="Deactivate">
			</div>
		</form>
	</div>
</div>

{% endblock %}
