{% extends 'templates/admin_common.html' %}
{% block content %}


<div class="row">

	<div class="small-12 columns text-center">
		<br>
		<h3>Admin Panel</h3>
		<br>
	</div>

	{% if message %}
		<div class="small-12 column">
			<div class="row text-center">
				<div class="small-12 column">
					<h3>{{ message }}</h3>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="small-12 columns panel">
		{% if quarter and year %}
			<div class="row">
				<div class="small-6 columns">
					<h5 class="text-center">Assignment Details</h5>

					<div class="row">
						<div class="small-12 columns">
							<span class="label">Current Assignment</span>
							<br>
							{% if cur_assign %}
								<span class="label success">Opened</span>
								{{ cur_assign.fade_in_date.strftime("%A, %m-%d-%Y, %I:%M %p") }} 
								<br>
								<span class="label warning">Due</span>
								{{ cur_assign.due_date.strftime("%A, %m-%d-%Y, %I:%M %p") }} 
								<br>
								<span class="label alert">Closes</span>
								{{ cur_assign.close_date.strftime("%A, %m-%d-%Y, %I:%M %p") }} 
							{% else %}
								<p>No active assignment</p>
							{% endif %}
						</div>
					</div>

					<br>

					<div class="row">
						<div class="small-12 columns">
							<span class="label">Eval Assignment</span>
							<br>
							{% if eval_assign %}
								<span class="label success">Opens</span>
								{{ eval_assign.eval_open_date.strftime("%A, %m-%d-%Y, %I:%M %p") }} 
								<br>
								<span class="label alert">Closes</span>
								{{ eval_assign.eval_date.strftime("%A, %m-%d-%Y, %I:%M %p") }} 
							{% else %}
								<p>No active eval assignment</p>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="small-6 columns">
					<h5 class="text-center">Student Activity</h5>

					<div class="row">
						<div class="small-12 columns">
							<span class="label">Roster at a glance</span>
						</div>
						<div class="small-6 columns">
							<span class="label success">Active Students</span>
							{{ active_students }}
						</div>
						<div class="small-6 columns">
							<span class="label warning">Inactive Students</span>
							{{ inactive_students }}
						</div>
					</div>

					<br>

					<div class="row">
						<div class="small-12 columns">
							<span class="label">Partnerships</span>
						</div>
						{% if assign_partners %}
							<div class="small-6 columns">
								<span class="label success">Active</span>
								{{ assign_partners }}
							</div>
							<div class="small-6 columns">
								{% set perc_partnered = assign_partners / active_students %}
								{% if perc_partnered < 0.25 %}
									<span class="label alert">% Partnered</span>
								{% elif perc_partnered < 0.5 %}
									<span class="label warning">% Partnered</span>
								{% else %}
									<span class="label success">% Partnered</span>
								{% endif %}
								{{ '%0.4f'|format(perc_partnered) }}
							</div>
						{% endif %}
					</div>

					<br>

					<div class="row">
						<div class="small-12 columns">
							<span class="label">Evaluations</span>
						</div>
						{% if assign_eval %}
							<div class="small-6 columns">
								<span class="label success">Submitted</span>
								{{ assign_eval }}
							</div>
							<div class="small-6 columns">
								{% set perc_evaled = assign_eval / active_students %}
								{% if perc_evaled < 0.25 %}
									<span class="label alert">% Evaluated</span>
								{% elif perc_evaled < 0.5 %}
									<span class="label warning">% Evaluated</span>
								{% else %}
									<span class="label success">% Evaluated</span>
								{% endif %}
								{{ '%0.4f'|format(perc_evaled) }}
							</div>
						{% endif %}
					</div>

				</div>
			</div>
		{% endif %}
	</div>

</div>

{% endblock %}
