{% extends '/templates/base.html' %}
{% block content %}

<a class="close-reveal-modal">&#215;</a>

<div class="row">
	<div class="small-12 columns">
		<h3 class="text-center">Upload Roster</h3>
		<h6 class="text-center">Roster should be a CSV with the format:</h6>
		<h6 class="text-center">studentid, lastname, firstname, ucinetid, uci email, lab #</h6>

		<form action="/admin/roster/upload" method="post" enctype="multipart/form-data">
			<div>
				<input name="year" value="{{ year }}" type="number" />
			</div>
			<div>
				<select name="quarter">
					{% for num,name in quarters %}
						{% if quarter == num %}
							<option value="{{ num }}" selected>{{ name }}</option>
						{% else %}
							<option value="{{ num }}">{{ name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div><input type="file" name="the_file"></div>
			<div><input class="button expand" type="submit" value="Upload"<div>
		</form> 

	</div>
</div>

{% endblock %}
