<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
		<link type="text/css" rel="stylesheet" href="/foundation/css/foundation.css "/>
		<link type="text/css" rel="stylesheet" href="/foundation/css/app.css "/>
  </head>

  <body>

		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					{% if user %}
						<h1><a href="/partner">Partner App</a></h1>
					{% else %}
						<h1><a href="/">Partner App</a></h1>
					{% endif %}
				</li>
			</ul>

			<section class="top-bar-section">
				{% if user %}
					<ul class="left">
						<li class="has-dropdown">
							<a href="#">History</a>
							<ul class="dropdown">
								<li>
									<a href="/partner/history">Partner/Eval History</a>
								</li>
								<li>
									<a href="/partner/history/invitations">Invitation History</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/partner/edit/profile">Profile</a>
						</li>
						<li>
							<a href="/partner/browse">Browse Partners</a>
						</li>
					</ul>
				{% endif %}
				<ul class="right">
                                            {% if courses %}
						<li class="has-dropdown">
							<a href="#">Courses</a>
							<ul class="dropdown">
                                                            {% for course in courses %}
                                                                <li><a href="partner?course={{ course.key.urlsafe() }}">{{ course.abbr_name }}</a></li>
                                                            {% endfor %}
							</ul>
						</li>
                                            {% endif %}
					<li>
						<a href="/partner/instructions">Help</a>
					</li>
					{% if sign_out %}
						<li class="active">
							<a href="{{ sign_out }}">Logout</a>
						</li>
					{% elif sign_in %}
						<li class="active">
							<a href="{{ sign_in }}">Login</a>
						</li>
					{% endif %}
				</ul>
			</section>
		</nav>

		{% block content %}
		{% endblock %}

		<script src="/foundation/js/vendor/jquery.js"></script>
		<script src="/foundation/js/vendor/fastclick.js"></script>
		<script src="/foundation/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>

  </body>
</html>
{% endautoescape %}
