{% extends 'templates/base.html' %}
{% block content %}
<a class="close-reveal-modal">&#215;</a>
<div class="row text-center">
{% if selection_closed %}
  <h5>Partner selection for assignment {{ current.number }} has closed</h5>
{% else %}
  {% if invitations.get() %}
    <h3>Which of these students did you agree to work with for assignment {{ current.number }}?</h3>
    <form action="/partner/confirm" method="post" enctype="multipart/form-data">
	  <select name="confirmed">
	    {% for invitation in invitations %}
		  {% set student = invitation.invitor.get() %}
		  <option value="{{ student.studentid }}">
		    {{ student.last_name }}, {{ student.first_name }} - {{ student.ucinetid }}
	      </option>
	    {% endfor %}
	  </select>
	  <input class="button expand" type="submit" value="Confirm">
    </form>
    <br>
  {% else %}
    <h5>You haven't received any invitations</h5>
  {% endif %}
{% endif %}
</div>
{% endblock %}
