{% extends 'templates/base.html' %}
{% block content %}
<a class="close-reveal-modal">&#215;</a>
<div class="row text-center">
{% if selection_closed %}
  There are currently no assignments that have active partner selection periods.
{% else %}
  {% if invitations|length > 0 %}
    <h3>Which of these students did you agree to work with?</h3>
    <form action="/partner/confirm" method="post" enctype="multipart/form-data">
	  <select name="confirmed">
	    {% for invitation in invitations %}
		  {% set student = invitation.invitor.get() %}
			<option value="{{ invitation.key.urlsafe() }}">
			  {{ student.last_name }}, {{ student.first_name }} - {{ student.ucinetid }} (assignment {{ invitation.assignment_number }})
			</option>
	    {% endfor %}
	  <select>
	  <input class="button expand" type="submit" value="Confirm">
    </form>
    <br>
  {% else %}
    <h5>You haven't received any invitations</h5>
  {% endif %}
{% endif %}
</div>
{% endblock %}
