{% extends 'templates/common.html' %}
{% block content %}

<br>

<div class="row">
	<div class="small-12 columns panel">
		<table>
			<th>
				{% for cat,num in fields %}
					<td class="text-center"><h6>{{ cat }}</h6></td>
				{% endfor %}
			</th>
			{% for dt,invite in invites %}
				<tr>
					<td>{{ dt }}</td>
					{% for k,v in invite %}
						{% if v is number %}
							<td class="text-center"><span class="label">{{ v }}</span></td>
						{% elif v == 'True' %}
							<td class='text-center'><span class="label success">{{ v }}</span></td>
						{% elif v == 'False' %}
							<td class="text-center"><span class="label alert">{{ v }}</span></td>
						{% else %}
							<td class="text-center">{{ v }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
