{% extends 'templates/common.html' %}
{% block content %}

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<!--<script src='/static/drawingtable.js'></script>-->
<link type="text/css" rel='stylesheet' href='/static/table_style.css' />

<br>

<div class="row">
	<div class="small-12 columns panel">
		<form action="/partner/edit/profile" enctype="multipart/form-data" method="POST">

			<div class="row">
			<!--
				<h4>&nbsp&nbsp&nbsp
					It is required you enter your availability and programming background.</h4>
				<h4>&nbsp&nbsp&nbsp
					The rest is optional, but it may help you identify suitable partners.</h4>-->
			{% if message %}
				<div class="small-12 columns">
					<h3 class="text-center">{{ message }}</h3>
				</div>
			{% endif %}
			</div>
			<!--<div class="small-6 columns">-->
				<img src="/images/{{ key }}" style="right:3%;position:absolute;">
				<br><br>
				<div class="row">
					<div class="small-6 columns">
						<label class="label">Preferred Name (What do you like to be called? First name? Nickname?) </label>
						<input type="text" name="preferred_name"
						value="{{ student.preferred_name if student.preferred_name }}" />
					</div>
				</div>

				<div class="row">
					<div class="small-6 columns">
						<label class="label">Brief Background (what would you like prospective partners to know about you?)</label>
						<textarea name="bio">{{ student.bio if student.bio else '' }}</textarea>
					</div>
				</div>

				<div class="row">
					<div class="small-6 columns">
						<label class="label">Availability (If you need to work outside of the scheduled lab, what times are available for you?)</label>
						<textarea name="availability">{{ student.availability if student.availability else '' }}</textarea>
						<br>
						<!--
						<div id="table-wrap">
							<div id="clear" class="small button">Clear Availability</div>
							<br>
							<input type="radio" name="draw" value="avail" checked="checked" id="availR"><label for="availR">Set Availability</label>
							<input type="radio" name="draw" value="erase" id="eraseR"><label for="eraseR">Erase Availablity</label>
							<p id="availability_string_in" hidden>{{availability_string}}</p>	
							<textarea id="availability_string_out" name="availability" style="display:none;">{{ student.availability if student.availability else '' }}</textarea>
							<table id="drawing-table">
								<tr>
									<td></td>
								</tr>
							</table>
						</div>
						-->
					</div>
				</div>

				<div class="row">
					<div class="small-6 columns">
						<label class="label">Background in computer programming</label>
						<select name="programming_ability">
							{% for ability in programming_ability %}
								{% if student.programming_ability and student.programming_ability == ability %}
									<option value="{{ ability }}" selected="selected">
								{% else %}
									<option value="{{ ability }}">
								{% endif %}
									{{ ability }}
								</option>
							{% endfor %}
						</select>
						<label class="label">Phone Number</label>
						<input type="tel" name="phone_number" value="{{ student.phone_number if student.phone_number }}"/>
						<label for="fileupload"> Select a picture for your profile:</label>
						<input type="file" name="avatar" id="fileupload"/>
					</div>
				</div>

			<!--</div>-->

			<!--<div class="small-6 columns">
				<div class="row">
					<div class="small-6 columns small-centered">
						<img src="/images/{{ key }}" style="float:top;">
						<br>
						<br>
					</div>
				</div>
			</div>-->

			<div class="row">
				<div class="small-6 column small-centered">
					<input type="submit" value="Submit" class="button expand" />
				</div>
			<div>

		</form>
	</div>
</div>

{% endblock %}
