{% extends 'templates/common.html' %}
{% block content %}

{% if student %}
	<div class="row fullwidth">
		<div class="small-12 column text-center">
			{% if student.preferred_name %}
				<h3>Hello, {{ student.preferred_name }}</h3>
			{% else %}
				<h3>Hello, {{ student.first_name }} {{ student.last_name }}</h3>
			{% endif %}
		</div>
	</div>

	{% if message %}
    	<div class="row text-center">
	  		<div class="small-12 column">
   	    		<h3>{{ message }}</h3>
	  		</div>
    	</div>
	{% endif %}

	{% if profile %}
    	<div class="row text-center">
	  		<div class="small-6 column small-centered">
   	    		<div class="alert-box warning"><a href="partner/edit/profile"><h4>Please Update Your Profile!</a></h4></div>
	  		</div>
    	</div>
	{% endif %}

	{% if received_invitations|length > 0 %}
    	<div class="row text-center">
	  		<div class="small-6 column small-centered">
				<h4>
					<a href="/partner/confirm" data-reveal-id="confirmModal"
					class="button expand" data-reveal-ajax="true">You Have Received Partner Invitations!</a>
				</h4>
	  		</div>
    	</div>
	{% endif %}


	{% if dropped %}
    	<div class="row text-center">
	  		<div class="small-7 column small-centered">
				<div class="alert-box alert">
					<h4><a href="#">You Have Deactivated Partnerships! (See Below)</a></h4>
				</div>
	  		</div>
    	</div>
	{% endif %}


	<div class="row fullwidth" data-magellan-destination="actions">
		<a name="actions"></a>
		<span class="label">Actions</span>
		<div class="small-12 columns panel">
			<div class="row">
				<div class="small-4 columns">
					{% if active %}
						<a href="/partner/selection" data-reveal-id="selectionModal" class="button expand"
						data-reveal-ajax="true">Send Partner Invitations</a>
						<div class="reveal-modal small" id="selectionModal" data-reveal></div>
					{% endif %}
				</div>
				<div class="small-4 columns">
					{% if active %}
						<a href="/partner/confirm" data-reveal-id="confirmModal"
						class="button expand" data-reveal-ajax="true">View Invitations from Others</a>
						<div class="reveal-modal small" id="confirmModal" data-reveal></div>
					{% endif %}
				</div>
				<div class="small-4 columns">
					{% if evals %}
						<a href="/partner/evaluation" data-reveal-id="evalModal" 
						class="button expand" data-reveal-ajax="true">Partner Evaluation</a>
						<div class="reveal-modal medium" id="evalModal" data-reveal></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="row fullwidth" data-magellan-destination="assignments">
		<a name="assignments"></a>
		<span class="label">Assignments</span>
		<div class="small-12 columns">
			<div class="row panel">
				<div class="small-6 columns">
					<span class="label">Assignments Open for Partner Selection</span> 
					<table>
						<tr>
							<th class="num-cell text-center">Assign Num</th>
							<th class="text-center">Partner Selection Closes</th>
							<th class="text-center">Partner Evaluation Opens</th>
							<th class="text-center">Have Partner?</th>
						</tr>
						{% for assignment in active %}
							<tr>
								<td class="num-cell text-center">{{ assignment.number }}</td>
								<td class="text-center">{{ assignment.due_date.strftime("%m-%d-%Y\n%I:%M %p") }}</td>
								<td class="text-center">{{ assignment.eval_open_date.strftime("%m-%d-%Y\n%I:%M %p") }}</td>
								{% if partners[assignment.number]%}
									<td class="text-center"><span class="label success">Yes</span></td>
								{% else %}
									<td class="text-center"><span class="label alert">No</span></td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>

				<div class="small-6 columns">
					<span class="label">Assignments Open for Partner Evaluation</span> 
					<table>
						<tr>
							<th class="num-cell text-center">Assign Num</th>
							<th class="text-center">Partner Evaluation Closes</th>
							<th class="text-center">Eval Submitted?</th>
						</tr>
						{% for assignment in evals %}
							<tr>
								<td class="num-cell text-center">{{ assignment.number }}</td>
								<td class="text-center">{{ assignment.eval_date.strftime("%m-%d-%Y\n%I:%M %p") }}</td>
								{% if submitted_evals[assignment.number]%}
									<td class="text-center"><span class="label success">Yes</span></td>
								{% else %}
									<td class="text-center"><span class="label alert">No</span></td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row fullwidth">
		<span class="label">Invitations</span>
		<div class="small-12 columns">
			<div class="row panel">
				<div class="small-6 columns">
					<span class="label">Open Invitations You've Sent to Others</span>
					<table>
						<tr>
							<th class="text-center num-cell">Assign Num</th>
							<th class="text-center">Sent To...</th>
						</tr>
						{% for inv in sent_invitations %}
							{% set student = inv.invitee.get() %}
							<tr>
								<td class="text-center num-cell">{{ inv.assignment_number }}</td>
								<td class="text-center">{{ student.ucinetid }} - {{ student.last_name }}, {{ student.first_name}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="small-6 columns">
					<span class="label">Invitations Others Have Sent to You</span>
					<table>
						<tr>
							<th class="text-center num-cell">Assign Num</th>
							<th class="text-center">Received From...</th>
						</tr>
						{% for num,invites in received_invitations %}
							{% for inv in invites %}
								{% set student = inv.invitor.get() %}
								<tr>
									<td class="text-center num-cell">{{ num }}</td>
									<td class="text-center">{{ student.ucinetid }} - {{ student.last_name }}, {{ student.first_name}}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<br>

	{% if dropped|length > 0%}

		<div class="row fullwidth">
			<span class="label alert">Deactivated Partnerships</span>
			<div class="small-12 columns">
				<div class="row panel">
					<div class="small-12 columns">
						<table>
							<tr>
								<th class="text-center num-cell">Assign Num</th>
								<th class="text-center">Initiated the Partnership</th>
								<th class="text-center">Accepted the Invitation to Partner</th>
							</tr>
							{% for partner in dropped %}
								<tr>
									<td class="text-center num-cell">{{ partner.assignment_number }}</td>
									{% if partner.initiator %}
										<td class="text-center">{{ partner.initiator.get().ucinetid }}</td>
									{% endif %}

									{% if partner.acceptor %}
										<td class="text-center">{{ partner.acceptor.get().ucinetid }}</td>
									{% else %}
										<td class="text-center">No Partner</td>
									{% endif %}
								</tr>
							{% endfor %}
						</table>
					</div>
					<div class="small-6 columns small-centered"> 
						<h4>
							Note: if any of these deactivated partnerships are unexpected, <strong>contact your
							TA and the student with whom the partnership was deactivated. 					
						</h4>
					</div> 
				</div>
			</div>
		</div>

	{% endif %}


{% else %}

	<br>
	<div class="row text-center">
		<div class="small-12 column panel">
	  		<h3>Uh-oh</h3>
	  		<div class="row">
				<div class="small-6 column small-offset-3 text-justify">
		  			<p>
						We're having some trouble finding you in our database. 
						<br>
						<br>
						The email address that the system is detecting for you is 
						<strong>{{ email }}</strong>.
						<br>
						<br>
						Please make sure that you're signing in with your UCI gmail account.  
						Sign out <a href="{{ sign_out }}">here</a>, and sign back in with
						your UCI Gmail credentials.
						<br>
						<br>
						If you added the course or changed your enrollment within the last
						24 hours, try again later. We do not get immediate updates from the
						registrar.
						<br>
						<br>
						If you continue to experience problems, please contact
						the ics 31 course manager at 31-manager@ics.uci.edu
				  	</p>
				</div>
			</div>
		</div>
	</div>

{% endif %}
{% endblock %}
