{% extends 'templates/common.html' %}
{% block content %}

<br>

<div class="row">
	<div class="small-12 columns panel">
		<form action="/partner/edit/profile" enctype="multipart/form-data" method="POST">

			<div class="small-6 columns">
				<div class="row">
					<div class="small-12 columns">
						<label class="label">Preferred Name</label>
						<input type="text" name="preferred_name" 
						value="{{ student.preferred_name if student.preferred_name else 'What do you like to be called? (firstname/nickname)' }}" />
					</div>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<label class="label">Tell us a little about yourself...</label>
						<textarea name="bio">{{ student.bio if student.bio else '' }}</textarea>
					</div>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<label class="label">What's your availability?</label>
						<textarea name="availability">{{ student.availability if student.availability else '' }}</textarea>
					</div>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<label class="label">How Often Do You Program?</label>
						<select name="programming_ability">
							{% for ability in programming_ability %}
								{% if student.programming_ability and student.programming_ability == ability %}
									<option value="{{ ability }}" selected="selected">
								{% else %}
									<option value="{{ ability }}">
								{% endif %}
									{{ ability }}
								</option>
							{% endfor %}
						</select>
						<label class="label">Phone Number</label>
						<input type="tel" name="phone_number" value="{{ student.phone_number if student.phone_number else '000-000-0000' }}"/>
						<input type="file" name="avatar" />
					</div>
				</div>

			</div>

			<div class="small-6 columns">
				<div class="row">
					<div class="small-6 columns small-centered">
						<img src="/images/{{ key }}">
						<br>
						<br>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="small-6 column small-centered">
					<input type="submit" value="Submit" class="button expand" />
				</div>
			<div>

		</form>
	</div>
</div>

{% endblock %}
