{% extends 'templates/common.html' %}
{% block content %}

<div class="row fullwidth">
    <div class="small-12 column text-center">
            <h3>Your Partner for Assignment {{ assgn_num }}</h3>
    </div>
</div>
<div class="small-12 columns panel">
            <div class="row">
            <div class="small-3 columns">
                <div class="small-12 columns small-centered">
                    <img height="100px" width="100px" src="/images/{{ partner.key.urlsafe() }}"/>
                </div>
                <div class="col-md-4 text-left">
                    <a href ="/partner/cancel?p={{ partnership.key.urlsafe() }}&cancel=1" class="button small round alert">
                        Cancel Partnership
                    </a>
                </div>
            </div>
            <div class="small-9 columns">
                <div class="small-6 columns">
                    {% set name = partner.preferred_name if partner.preferred_name else partner.first_name%}
                    <h3>{{ name }} {{ partner.last_name }}</h3>
                    {% if status %}
                        <span class="label warning">{{ name }} already has a partner for this assignment</span>
                    {% endif %}
                    <span class="label">{{ name }}'s bio</span>
                    <p>{{ partner.bio if partner.bio else '' }}</p>
                    <span class="label">Availability</span>
                    <p>{{ partner.availability if partner.availability else '' }}</p>
                </div>
                <div class="small-6 columns">
                    <span class="label">{{ name }}'s email address</span>
                    <p>{{ partner.email }}</p>
                    <span class="label">{{ name }}'s phone number</span>
                    <p>{{ partner.phone_number if partner.phone_number else '' }}</p>
                    <span class="label">{{ name }}'s programming experience</span>
                    <p>{{ partner.programming_ability + ' (out of 5)' if partner.programming_ability else '' }}</p>
                </div>
            </div>
            <hr>
        </div>
</div>
{% endblock %}
