{% extends 'templates/common.html' %}
{% block content %}

{% if student %}
 	<br>
	<div class="row">
		<div class="small-12 column text-center">
			{% if student.preferred_name %}
				<h3>Hello, {{ student.preferred_name }}</h3>
			{% else %}
				<h3>Hello, {{ student.first_name }} {{ student.last_name }}</h3>
			{% endif %}
		</div>
	</div>

	{% if message %}
    	<div class="row text-center">
	  		<div class="small-12 column">
   	    		<h3>{{ message }}</h3>
	  		</div>
    	</div>
	{% endif %}

	<br>

	<div class="row">
		<div class="small-5 column panel text-center small-1-offset" style="height:500px">
			{% if current %}
				<h6 class="success label">Important dates for assignment {{ current.number }}:</h6>
				<h6>
					Please choose a partner by: 
					<br>
					{{ days[current.due_date.weekday()] }}, {{ current.due_date.strftime("%m-%d-%Y") }} at {{ current.due_date.strftime("%I:%M %p") }}
				</h6>
				<h6>
					Evaluation opens:
					<br>
					{{ days[current.eval_open_date.weekday()] }}, {{ current.eval_open_date.strftime("%m-%d-%Y") }} at {{ current.eval_open_date.strftime("%I:%M %p") }}
				</h6>
				<h6>
					Evaluation closes:
					<br>
					{{ days[current.eval_date.weekday()] }}, {{ current.eval_date.strftime("%m-%d-%Y") }} at {{ current.eval_date.strftime("%I:%M %p") }}
				</h6>
			{% else %}
				<h6>There are no assignments open for partner selection.</h6>
				<br>
			{% endif %}

			{% if eval %}
				{% if (current and not eval.number == current.number) or (not current) %}
					<h6 class="success label">Important dates for assignment {{ eval.number }}:</h6>
					<h6>
						Evaluation opens:
						<br>
						{{ days[eval.eval_open_date.weekday()] }},
						{{ eval.eval_open_date.strftime("%m-%d-%Y") }} at {{ eval.eval_open_date.strftime("%I:%M %p") }}
					</h6>
					<h6>
						Evaluation closes:
						<br>
						{{ days[eval.eval_date.weekday()] }}, {{ eval.eval_date.strftime("%m-%d-%Y") }} at {{ eval.eval_date.strftime("%I:%M %p") }}
					</h6>
				{% endif %}
			{% else %}
				<h6>There are no assignments open for evaluation.</h6>
			{% endif %}


			{% if current %}
				{% if current_partner %}
					{% if current_partner == 'No Partner' %}
						<h5 class="alert-box info"> Your TA gave you permission to work without a partner for this assignment</h5>
					{% else %}
						<h5 class="alert-box info">
							Your partner for assignment {{ current.number }} is {{ current_partner.last_name }}, {{ current_partner.first_name }}
						</h5>
					{% endif %}
				{% else %}
					<h5 class="alert-box warning">You don't yet have a partner for assignment {{ current.number }}</h5>
					{% if dropped %}
						<h5 class="alert-box alert">
							Note: Your most recent partner
							has accepted another partner.
							<br>
							If this wasn't anticipated, please contact her/him.
							<br>
							If you can't find a partner, please contact your TA.
						</h5> 
					{% endif %}
				{% endif %}
			{% endif %}

	  		{% if received_invitations %}
				<h5 class="alert-box info">You have received partnership invitations</h5>
      		{% endif %}

	  		<hr size="3px">

			<!--

	  		<a href="/partner/history" class="button expand">Partner/Evaluation History</a>

			-->

		</div>

		<div class="small-5 column panel" style="height:500px">

			{% if current %}
				<a href="/partner/selection" data-reveal-id="selectionModal" class="button expand"
				data-reveal-ajax="true">Send Partner Invitations</a>
				<div class="reveal-modal small" id="selectionModal" data-reveal></div>

				<a href="/partner/confirm" data-reveal-id="confirmModal"
				class="button expand" data-reveal-ajax="true">View Invitations from Others</a>
				<div class="reveal-modal small" id="confirmModal" data-reveal></div>
			{% endif %}

			{% if eval %}
				<a href="/partner/evaluation" data-reveal-id="evalModal" 
				class="button expand" data-reveal-ajax="true">Partner Evaluation</a>
				<div class="reveal-modal medium" id="evalModal" data-reveal></div>
			{% endif %}

      		{% if sent_invitations and current %}
	    		<h5>You've sent partnership invitations to the following students:</h5>
	      		<ul>
		    		{% for invitation in sent_invitations %}
		      			{% set student = invitation.invitee.get() %}
		      			<li>{{ student.last_name}}, {{ student.first_name }} - {{ student.ucinetid }} (assignment {{ invitation.assignment_number }})</li>	
		    		{% endfor %}
	      		</ul>
      		{% elif current %}
	    		<h5>You don't have any open, sent invitations for this assignment</h5>
      		{% else %}
				<h5>There are no assignments open for partner selection.</h5>
      		{% endif %}
		</div>
	</div>

{% else %}

	<br>
	<div class="row text-center">
		<div class="small-12 column panel">
	  		<h3>Uh-oh</h3>
	  		<div class="row">
				<div class="small-6 column small-offset-3 text-justify">
		  			<p>
						We're having some trouble finding you in our database. 
						<br>
						<br>
						The email address that the system is detecting for you is 
						<strong>{{ email }}</strong>.
						<br>
						<br>
						Please make sure that you're signing in with your UCI gmail account.  
						Sign out <a href="{{ sign_out }}">here</a>, and sign back in with
						your UCI Gmail credentials.
						<br>
						<br>
						If you added the course or changed your enrollment within the last
						24 hours, try again later. We do not get immediate updates from the
						registrar.
						<br>
						<br>
						If you continue to experience problems, please contact
						the ics 10 course manager at 31-manager@ics.uci.edu
				  	</p>
				</div>
			</div>
		</div>
	</div>

{% endif %}
{% endblock %}
