{% extends 'templates/common.html' %}
{% block content %}

  <br>

  <div class="row">
	  <div class="small-12 columns text-center">
	  	<h4>Usage Instructions</h4>
	  </div>
  </div>

  <br>

  <div class="row">
	<div class="small-12 column panel text-center">
	  <div class="row">
	    <div class="small-10 column small-offset-1 text-justify">
	        <p>
                    The partner app main page is divided into various UI components. I'll list them here 
                    as they appear from top to bottom on the main partner landing page (the page you
                    see by default after successfully logging into the partner app):
                </p>

                <h3>1) The Navigation Bar</h3>

                <p>
                    Once logged in, the navigation bar contains 6 buttons (1 of them is a dropdown). 
                    From left to right, they are:
                </p>

                <h4>a) The Partner App Button</h4>

                <p>
                    If logged in, this button will take you to the main partner app
                    page (the page that you first see when you log in).
                </p>

                <h4>b) The History Dropdown</h4>

                <p>
                    The history dropdown contains two buttons:
                </p>

                <h5>i) The Partner/Eval History Button</h5>

                <p>
                    This button takes you to a page that displays three panels.
                </p>

                <ul>
                    <li>
                        <strong>The Abbreviated Partner History panel</strong> This panel displays your 
                        partner history as your TAs see it.                     
                    </li>
                    <li>
                        <strong>The Complete Partner History panel</strong> This panel displays your 
                        complete partner history, including any inactive (cancelled) partnerships you've had.
                    </li>
                    <li>
                        <strong>The Eval History panel </strong> This panel displays all the partner 
                        evaluations you've submitted, including inactive evaluations.
                    </li>
                </ul>

                <h5>ii) The Invitation History Button</h5>

                <p>
                    This button takes you to a page that displays all invitations you've
                    ever sent/received. If you know you've sent/received an invitation, but you don't see
                    it on this page, <strong>please report it to your TA</strong>.
                </p>

                <h4>c) The Profile Button</h4>

                <p>
                    This button takes you to a page in which you can add information about 
                    yourself to your profile. Other students will be able to see this information 
                    on the Browse Partners page.
                </p>

                <h4>d) The Browse Partners Button</h4>
                
                <p>
                    This button takes you to the Browse Partners page. Here, you
                    can see the profiles of and send invitations to all students who don't have partners 
                    for the current assignment (if there is more than one active assignment, the 
                    current assignment is the one with the later due date). 
                </p>

                <h4>e) The Help Button</h4>

                <p>
                    If you're reading this, you already know where the help button takes you!
                </p>

                <h4>f) The Logout Button</h4>

                <p>
                    The logout button logs you out of the partner app. Note: Logging our of the 
                    partner app will also log you out of other Google services that you're logged into.
                </p>

                <h3>2) The Notification Area</h3>

                <p>
                    The notification area is the white space directly below the nav bar (where you see
                    the "Hello, [student]" greeting). Whenever something needs your attention, you'll
                    see a notification banner under the greeting. These banners will call your attention
                    to things like partner invitations you've received, an unused student profile, and
                    any cancelled partnerships you were involved in.
                </p>

                <h3>3) The Action Panel</h3>

                <p>
                    The action panel contains three buttons. Left to right, they are:
                </p>

                <h4>a) The Send Partner Invitations Button</h4>

                <p>
                    You'll only see this button when there's an assignment with an active partner
                    selection period. If you can't see this button: it's either too late or too early
                    to pick a partner for a particular assignment.
                </p>
                <p>
                    Clicking on this button will cause the partner invitation dialog box to appear. 
                    In this dialog, you can send invitations to students for specfic assignments. The partner
                    selection dialog contains a form with two input fields:
                </p>

                <ul>
                    <li>
                        <strong>Assignment</strong> A dropdown that contains a list of active assignments. 
                        <strong>If there are multiple active assignments, make sure you choose 
                        the correct assignment.</strong>
                    </li>
                    <li>
                        <strong>Partner</strong> A dropdown that contains a list of students that you can send
                        invitations to. Depending on the rules for your course, this dropdown
                        may contain every student in your class, or, in most cases, just the 
                        students in your lab section.
                    </li>
                </ul>

                <h4>b) The View Invitations from Others Button</h4>

                <p>
                    Like the Send Partner Invitations button, you'll only see this button if there's an 
                    assignment with an active partner selection period.
                </p>
                <p>
                    Clicking on this button will cause the received invitation dialog box to appear. 
                    This dialog contains a single dropdown that contains the invitations you've received
                    that are currently active. You can confirm an invitation by choosing, from the dropdown,
                    the name of the student who sent you the invitation (make sure the invitation has the 
                    correct assignment number), and clicking the "Submit" button.
                </p>

                <h4>c) The Partner Evaluation Button</h4>

                <p>
                    You'll only see the partner evalution button if there is an assignment with an active
                    partner evaluation period.
                </p>
                <p>
                    Clicking on this button will cause the partner evaluation dialog box to appear.
                    This dialog contains a partner evaluation form with various questions regarding
                    your partner and your lab assignment. <strong>Note: you can submit evaluations 
                    for the same partner/assignment multiple times. The only evaluation that will be
                    used is the last one you submit.</strong>
                </p>
                <p>
                    <strong>If you didn't successfully register a partnership for an assignment, 
                    you won't be able to submit an evalution for that assignment. If you believe you
                    registered a partnership but are unable to submit and evaluation, please contact
                    your TA.</strong>
                </p>

                <h3>4) The Assignment Panel</h3>

                <p>
                    The assignments panel contains two tables that give you infomation about the 
                    assignments that have open partner selection/partner evalution periods. From
                    left to right:
                </p>

                <h4>a) The Assignments Open for Partner Selection Table</h4>

                <p>
                    This table shows information about assingments that have open partner selection
                    periods. This table shows you--from left to right--the assignment's number, the
                    date/time when you need to have a partner for this assingment, the date/time
                    when partner evaluations open for this assignment, and whether or not you have
                    a partner for this assignment. <strong>If you thought you or your partner confirmed
                    an invitation for an assignment, but this table shows that you don't have a partner, 
                    please contact your TA.</strong>
                </p>

                <h4>b) The Assignments Open for Partner Evalution Table</h4>

                <p>
                    This table shows information about assingments that have open partner evalution
                    periods. This table shows you--from left to right--the assignment's number, the
                    date/time when partner evaluations are due, and whether you've submitted an evalution
                    for this assignment. <strong>Partner evaluations cannot be reopened for students who
                    miss deadlines, so please make sure you submit your evaluations in a timely 
                    manner.</strong>
                </p>

                <h3>5) The Invitation Panel</h3>

                <p>
                    The invitation panel contains two tables that give you information about the 
                    open invitations that you've send/received. <strong>Note: your invitations 
                    (send and received) are deactivated (closed) when you enter into a partnership.
                    </strong> From left to right:
                </p>

                <h4>The Open Invitations You've Sent to Others Table</h4>

                <p>
                    This table contains information about open invitations that you've
                    sent to others. 
                </p>

                <h4>The Invitations Others Have Sent to You Table</h4>

                <p>
                    This table contains information about open invitations that you've
                    received from others. 
                </p>

                <h3>6) The Cancelled Partnerships Panel</h3>

                <p>
                    You'll only be able to see this panel if there is an assignment with and active
                    partner selection period for which you have cancelled partnerships. A partnership
                    can only be cancelled if you/your partner enters into a partnership (for the same 
                    assignment) with another student. <strong>Please contact your TA if you have 
                    unexpected cancelled partnerships.</strong>
                </p>

	    </div>
	  </div>
	</div>
  </div>
{% endblock %}
